@import  "tailwindcss";

@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter.ttf')
    }

@font-face {
    font-family: 'flood';
    src: url('../fonts/Flood-Std-Regular.otf')
}

@theme {
    --font-primary: 'inter';
    --font-title: 'flood';
    --color-primary: #354463;
    --color-secondary: #C1F7D5;
}

@layer components {
    .btn {
        @apply  rounded-3xl px-[30px] py-2.5 font-bold w-fit text-lg;
    }

    .frame-white {
        @apply bg-white px-[30px] py-2.5 w-fit text-sm;
    }

    .frame-title {
        @apply text-white bg-primary px-[30px] py-2.5 w-fit text-sm;
    }

    .big-title {
        @apply text-white font-title text-[40px] max-w-[230px] lg:text-7xl lg:max-w-fit;
    }

    .card {
        @apply bg-white flex flex-col items-center relative gap-6 pt-[150px]  pb-8 lg:px-8 lg:h-fit;
    }

    h3 {
        @apply font-bold text-lg lg:text-[28px];
    }
}